#tabel-siswa {
  border-collapse: collapse;
  background: url("gambar1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  border-width: 1px;
  border-style: solid;
  background-color: white;

  margin: auto;
}
.link {
  color: red;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: green;
}
h3 {
  font-size: 32px;
}
#tabel-siswa td {
  padding: 20px;
}
